.menu {
    font-size: 20px;
    text-align: left;
    position: absolute;
    background: #4f4c4c;
    z-index: 9999;
    right: 15px;
    width: 150px;
    padding: 10px;
}

.menu>a {
    display: block;
    letter-spacing: 2px;
    color: white;
    margin-top: 10px;
    text-decoration: none;
}